@media (max-width: 480px) {

    .quantity-minus,
    .quantity-plus {
        width: 100%;
        padding: 5px 0px;
    }

    .quantity-plus:hover {
        background-color: #108c7b;
        border: 0px solid #ffffff;
        padding: 5px 0px;
    }

    .quantity-minus:hover {
        background-color: #108c7b;
        border: 0px solid #ffffff;
        padding: 5px 0px;
    }
}